<div class="panel panel-info">
<div class="panel-heading">
<p>An archive containing:</p>
<pre>
assignment_<%= @assignment.id %>/
  &lt;submissionId&gt;.tap: the updated TAP output for each submission
                      or the string "DELETE" to erase the grade
</pre>
<p>The easiest way to generate TAP files of the appropriate form is
  simply to use the JUnitTap library.</p>
</div>
</div>
