<div class="panel panel-info">
<div class="panel-heading">
<p>An archive (<code>.zip</code>, <code>.tar</code>, <code>.tar.gz</code> or <code>.tgz</code>) containing:</p>
<pre>
assignment_<%= @assignment.id %>/
  &lt;submissionId&gt;.tap: the updated TAP output for each submission
                      or the string "DELETE" to erase the grade
     OR
  &lt;submissionId&gt;.log: the updated error log file if there is no TAP output
</pre>
</div>
</div>
