<% @page_title = "Welcome to Bottlenose" %>

<h1>Welcome to Bottlenose</h1>

<p>
    Bottlenose is a web-based assignment submission and grade tracking tool for
    Computer Science courses.
</p>
<p></p>

<%= render 'devise/sessions/form' %>
