<% @page_title = "Welcome to Bottlenose" %>

<h1>Welcome to Bottlenose</h1>

<p>
    Bottlenose is a web-based assignment submission and grade tracking tool for
    Computer Science courses.
</p>

<p>
   Note: This Bottlenose instance is for CS3650 (Systems) and CS4550 (Web Dev).
   If you're looking for Fundies, OOD, or CS5001, that's
   <a href="https://handins.ccs.neu.edu">handins.ccs.neu.edu</a>.
</p>

<%= render 'devise/sessions/form' %>
