<% @page_title = "Status" %>

<h2>Bottlenose Grading Queue</h2>

<% if @queue_stats %>
  <% require 'yaml' %>
  <pre>
    <%= @queue_stats.to_yaml %>
  </pre>
<% else %>
  <p>No stats available.</p>
<% end %>

