<% cur_reg = current_user.registration_for(@course) %>
<% @page_title = "#{@course.name}: Teams" %>

<% if cur_reg && cur_reg.staff? %>
  <%= link_to "Edit Teams", new_course_team_path(@course), class: "btn btn-success" %>
<% end %>

<h3>Active Teams</h3>
<%= render "table", teams: @active_teams %>

<h3>Inactive Teams</h3>
<%= render "table", teams: @inactive_teams %>
