<% cur_reg = current_user.registration_for(@course) %>
<% cur_user_prof_ever = current_user.professor_ever? %>
<% cur_user_site_admin = current_user.site_admin? %>
<% @page_title = "Grading Conflicts" %>

<% # TODO: Add tablesorter code to the table showing all grading conflicts. %>
<% # TODO: Add tablesorter code to the table showing all grading conflicts. %>

<table class="table">
    <thead>
        <th>Staff</th>
        <th>Student</th>
        <th>Submitted By</th>
        <th>Created At</th>
        <th>Status</th>
    </thead>
    <tbody>
        <% @grading_conflicts.each do |gc| %>
            <td><%= maybe_link_user(cur_user_site_admin || cur_user_prof_ever || gc.staff.id == current_user.id, gc.staff) %></td>
            <td><%= maybe_link_user(cur_user_site_admin || cur_user_prof_ever || gc.student.id == current_user.id, gc.student) %></td>
            <td>Someone</td>
            <td><%= gc.created_at %></td>
            <td>
                <%= gc.status.capitalize %>
            </td>
        <% end %>
    </tbody>
</table>