<label>Team Submissions</label>
<% if !asgn.team_subs? %>
<%
   # NOTE: Only options are None, New, and Copy -- we can't Use an
   # existing teamset because there are already-existing submissions
   # that wouldn't have a plausible team in that teamset, and we don't
   # want to mutate that teamset.
   %>
<div class="radio">
  <label>
    <input name="assignment[teamset_plan]" id="teamset_none" type="radio"
           value="none" checked>
    <strong>No teams:</strong> this assignment will be submitted individually
  </label>
</div>
<div class="radio">
  <label>
    <input name="assignment[teamset_plan]" id="teamset_new" type="radio"
           value="new">
    <strong>New teamset:</strong> after creating this assignment, go to the Teams
    page to create a new set of teams.  Since some students have
    submitted already, those students and their existing submissions
    will be placed into solo teams.
  </label>
</div>
<div class="radio">
  <label>
    <input name="assignment[teamset_plan]" id="teamset_copy" type="radio"
           value="copy">
    <strong>Copy existing teamset:</strong> clones the teams from an existing
    teamset, so changes to one set will not affect the other.  As with
    the New teamset option, since some students have
    submitted already, those students and their existing submissions
    will be temporarily placed into solo teams.  Any
    teams that cannot be cloned (because some students have dropped)
    will be ignored.
    <br>
    <%= select_tag "assignment[teamset_source_copy]",
        options_from_collection_for_select(course.teamsets, "id", "name"),
        prompt: "Choose an existing teamset",
        class: "col-sm-12" %>
  </label>
</div>
<% elsif asgn.teamset.assignments.count == 1 %>
<%
   # There's nothing to be done here, because we already have a unique
   # teamset for this assignment
   %>
<div class="radio">
  <label>
    <input name="assignment[teamset_plan]" id="teamset_unique" type="radio"
           value="unique" checked>
    <strong>Using existing teamset:</strong> this assignment has its
    own unique teamset already, and cannot be changed<br>
    <input type='text' class="col-sm-12" disabled value="<%= asgn.teamset.name %>">
  </label>
</div>
<% else %>
<%
   # This assignment's teamset is shared with other assignments,
   # so the available options are to continue to share, or to clone
   %>
<div class="radio">
  <label>
    <input name="assignment[teamset_plan]" id="teamset_use" type="radio"
           value="use" checked>
    <strong>Use existing teamset:</strong> this assignment shares a teamset with
    another one, and changes to this teamset will affect both assignments<br>
    <input type='text' style="width: 100%;" disabled value="<%= asgn.teamset.name %>">
  </label>
</div>
<div class="radio">
  <label>
    <input name="assignment[teamset_plan]" id="teamset_clone" type="radio"
           value="clone">
    <strong>Clone existing teamset:</strong> clone the teamset that
    this assignment currently shares with another one, so that changes
    to the teamset for this assignment will not affect the previous
    teamset. Existing submissions for this assignment will be revised
    to reflect these new teams.<br>
    <input type='text' style="width: 100%;" disabled value="<%= asgn.teamset.name %>">
  </label>
</div>
<% end %>
<script>
  $(function() {
    $("select[name^='assignment[teamset_source']").on("focus",
      function() { $(this).parents(".radio").find("input[type='radio']").prop('checked', true).change(); });
  });
</script>
