<div>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#type-files" data-toggle="tab">Files</a></li>
    <li><a href="#type-exam" data-toggle="tab">Exam</a></li>
    <li><a href="#type-questions" data-toggle="tab">Questions</a></li>
  </ul>

  <div class="tab-content">
    <div id="type-files" class="tab-pane active">
      <%= render 'files_form' %>
    </div>
    <div id="type-exam" class="tab-pane">
      <p>2</p>
    </div>
    <div id="type-questions" class="tab-pane">
      <p>3</p>
    </div>
  </div>
</div>
