<div id="grade-histograms" style="padding-bottom: 0.5em;"
     class="collapsed collapse in">
  <div id="histogram"></div>
  <div id="byGraders"></div>
  <script><%= render "grade_distribution.js" %></script>
</div>
