<style>
  #grade-histograms.initial { height: 0px; display: initial; }
  #grade-histograms.initial .carousel-control { display: none; }
  .carousel-control { background-image: none; width: initial; }
</style>
<div id="grade-histograms" style="padding-bottom: 0.5em;"
     class="collapsed collapse carousel initial" data-interval="false">
  <div class="carousel-inner">
    <div id="histogram" class="item active"></div>
    <div id="byGraders" class="item active"></div>
    <div id="bySectionTypes" class="item active"></div>
    <div id="byTime" class="item active"></div>
  </div>

  <a class="left carousel-control" href="#grade-histograms" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#grade-histograms" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<script><%= render partial: "time_distribution",
            formats: [:js],
            locals: {
              assn: @gradesheet.assignment,
              allSubs: @gradesheet.assignment.submissions,
              usedSubs: @gradesheet.submissions
            }
            %></script>
<script><%= render partial: "grade_distribution", formats: [:js] %></script>
