<% unless @toggles.empty? %>
<p><b>Toggle section availability:</b></p>
<% @toggles.each do |section_type, toggles| %>
<div class="col-sm-12">
  <p><b>By <%= section_type %></b></p>
  <% toggles.each do |section, toggle| %>
  <label style="font-weight: normal;">
    <span class="toggle-wrapper" id="toggle-wrapper-<%=toggle.id%>">
      <%= check_box_tag "allow-#{toggle.id}", nil,
          toggle.submissions_allowed,
          data: {toggle: "toggle", on: "Enabled", off: "Disabled", stid: toggle.id},
          class: "submission-enabled-toggle" %>
    </span>
    <%= section.to_s %>
  </label>
  <% end %>
</div>
<% end %>
<% end %>
