<% @page_title = "#{@course.name} / #{@gradesheet.assignment.name}" %>

<% cur_reg = current_user.registration_for(@course) %>
<% if cur_reg&.professor? %>
<p class="pull-right">
  <%= link_to "Edit Assignment", 
      edit_course_assignment_path(@course, @gradesheet.assignment), class: "btn btn-default" %>
</p>
<% end %>

<%= render 'assignment_files_info', gradesheet: @gradesheet %>
<%= render 'admin_subs', type: {noun: "submission", verb: "submit", gerund: "submitting" }, cur_reg: cur_reg %>
