<%= f.hidden_field :type, value: "ManualGrader" %>
<%= f.hidden_field :order %>

<div class="form-inline">
  <%= f.label "avail_score", "Points available:" %>
  <%= f.spinner "avail_score", f.object.avail_score || 50, :min => 0, :delta => 5 %>
</div>
