<div class="form-group">
  <% value = @answers&.dig(sub_id.to_s, index, "main") || q["initial"] %>
  <%= code_textarea value,
      name: "answers[#{sub_id}][#{index}][main]",
      id: "answer_#{sub_id}_#{index}",
      class: "sourceCode form-control optional", 
      data: {lang: q["lang"], editable: true} %>
</div>
