<div class="form-inline">
  <% min = q["min"].to_f
     max = q["max"].to_f
     delta = (max - min) / 20 %>
  <% if @answers and @answers[index]
     value = @answers[index]["main"].capitalize
     end %>
  <%= spinner_tag "", value || 0.0, text: {name: "answers[#{index}][main]", id: "answer_#{index}"},
      disabled: 'disabled', min: min, max: max, delta: delta, class: (if @answers and
     value.nil? then 'unanswered' else '' end)  %>
</div>
