<% @page_title = "So long and thanks..." %>
<% @bgcolor = "#8b7355" %>
<div class="container text-center">
  <span class="col-sm-12 text-center">
    <%= image_tag "flammarion.png" %>
  </span>
  <h1 class="text-center">You have passed beyond the edges of this universe.</h1>
  <h5 class="text-center">So long, and thanks for all the fish.</h5>
  <p>&nbsp;</p>
  <%= image_tag "dolphin.png", style: "transform: rotate(20deg);" %>
</div>
