<% @page_title = "Courses" %>

<div class="page-header">
  <h1>Courses</h1>

  <div class="actions">
    <% if current_user.site_admin? || current_user.professor_ever? %>
      <%= link_to "New Course", new_course_path, class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% course_regs = current_user.course_regs_by_term %>
    <% @courses_by_term.each do |term, courses| %>
      <% next if term.archived? %>
      <h2><%= term.name %></h2>

      <%= render 'table', courses: courses, reg_info: (course_regs[term] || {}) %>
    <% end %>
  </div>
</div>
