$footer-height: 40px;

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: $footer-height;
}

.footer {
    background-color: #f5f5f5;
    border-top: thin solid gray;
    bottom: 0;
    height: $footer-height;
    padding: 8px;
    position: absolute;
    text-align: center;
    width: 100%;
}
