// application.css.scss

.prose {
    max-width: 50em;
}

.ui-combobox {
    position: relative;
    display: inline-block;
}

.ui-combobox-toggle {
    position: absolute;
    top: 10px;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    height: 1.7em;
}

.ui-combobox-input {
    margin: 0;
    padding: 0.3em;
}

.header-user-info {
  padding: 15px;
  color: white;
}

// teams.css.scss

.user-list {
  height: 30em;
  width: 20em;
}
