<% @page_title = "#{@course.name}: Investigate partners" %>
<style>
  .older-team {
  background: linear-gradient(to right, white, #dff0d8);
  }
  .newer-team {
  background: linear-gradient(to left, white, #dff0d8);
  }
</style>
<script>
  var allUsers = <%= raw json_escape(JSON.generate(@all_users)) %>;
  var allTeams = <%= raw json_escape(JSON.generate(@all_teams)) %>;
  function showUser(u) {
    return $("<a>").attr("href", u.link).text(u.name)
                   .addClass("user-link")
                   .attr("title", $("<img>").attr("src", u.profile)
                                            .attr("alt", u.name)
                                            .css({"max-height": "300px", "max-width": "300px"})[0].outerHTML)
                   .data({toggle: "tooltip", 
                          delay: {show: 0, hide: 250},
                          html: true}).tooltip('fixTitle');
  }
  function linkTeam(tid, terse) {
    if (tid && allTeams[tid]) {
      return $("<a>").attr("href", allTeams[tid].link).text(terse ? "Team " + tid : allTeams[tid].description);
    } else {
      return $("<span>").text("<none>");
    }
  }  
</script>
<div>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#common-partners" data-toggle="tab">Find common partners</a></li>
    <li><a href="#diff-teamsets" data-toggle="tab">Compare teamsets</a></li>
  </ul>

  <div class="tab-content">
    <%= render 'common_partners' %>
    <%= render 'diff_teamsets' %>
  </div>
</div>
