<% @page_title = "#{@course.name} / #{@gradesheet.assignment.name} / Submissions for #{@user.display_name}" %>

<%#= render 'assignment_files_info', gradesheet: @gradesheet %>
<h3>
  Submissions
  <% if @user.id != current_user.id %>
  for <%= @user.name %>
  <% else %>
  (<%#= @gradesheet.submissions.count %>)
  <% end %>
  <% if @user.id == current_user.id %>
  <% if true %>
  <%#= link_to "New Submission",
         new_course_assignment_submission_path(@course, @gradesheet.assignment), class: "btn btn-success" %>
  <% else %>
  <div class="btn btn-warning">Submissions are temporarily disabled; they will resume later today.</div>
  <% end %>
  <% end %>
</h3>
<%#= render 'user_subs', user: @user, course: @course, gradesheet: @gradesheet %>
